<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<div class="navbar">
			{% if current_user.is_authenticated %}
				<a href="{{ url_for('home_login') }}">Character List</a>
				<a href="{{ url_for('home') }}">Campaign List</a>
				<a href="{{ url_for('character') }}">Character</a>
				<a href="{{ url_for('campaign') }}">Campaign</a>
				<a href="{{ url_for('account') }}">Account</a>
				<a href="{{ url_for('logout') }}">Logout</a>
			{% else %}
				 <a href="{{ url_for('home') }}">Home</a>
				 <a href="{{ url_for('login') }}">Login</a>
				 <a href="{{ url_for('register') }}">Register</a>
			{% endif %}
		</div>
		{% block body %}
		{% endblock %}
	</body>
</html>
